body {
    background-color: #ececec;
    margin: 0;
    padding: 4em;
    font-family: arial;
}
::selection {
    background: #d82c99;
    color: #fff;
    text-shadow: none;
}

@media (max-width: 768px) {

  body {
      font-size: 14px;
  }
}